@model StudyFileDisplayModel
@{

}

<div class="my-2 mt-4"">
    <form asp-action="Index" class="row row-cols-lg-auto g-3 align-items-center">
  <div class="col-12">
            <label class="visually-hidden" for="sterm">Username</label>
    <div class="input-group">
      <div class="input-group-text"></div>
      <input type="text" class="form-control" value ="@Model.STerm" id="sterm" name="sterm" placeholder="Search for materials!" >
    </div>
  </div>

  <div class="col-12">
    <button type="submit" class="btn btn-outline-secondary">Search!</button>
  </div>
</form>
</div>

<div class="my-2 mt-4 mb-4"">
    <form asp-action="Index" class="row row-cols-lg-auto g-3 align-items-center">
    <div class="col-12">
            <label class="visually-hidden" for="levelId">Level</label>
        <select class="form-select" id="levelId" name="levelId">
            <option selected>Choose level...</option>
                @foreach (var level in Model.Levels)
                {
                    <option selected="@(level.Id == Model.LevelId)" value="@level.Id">@level.CEFRLevel</option>
                }
        </select>
    </div>
        <div class="col-12">
            <button type="submit" class="btn btn-outline-secondary">Filter!</button>
        </div>
 </form>
</div>

<div class="w-140 mt-4 d-flex flex-wrap"> 
    @foreach (var studyFile in Model.StudyFiles)
    {
<div class="card mx-2 mb-4" style="width: 18rem;">
     @* <img src="https://picsum.photos/seed/picsum/200/300" class="card-img-top" alt="..."> *@
    <div class="card-body">
        <h5 class="card-title">@studyFile.FileName</h5>
        <p class="card-text">
            Level: @studyFile.LevelName
        </p>
        <p class="card-text">
                Topic: @studyFile.TopicName
        </p>
        <button type="button" onclick="add(@studyFile.Id)" class="btn btn-secondary">Add to Favourites</button>
    </div>
</div>
    }
</div>
@section Scripts{
    <script>
        async function add(studyFileId) {
            var usernameEl = document.getElementById("username");
            if (usernameEl == null) {
                window.location.href = "/Identity/Account/Login"
                // var username = usernameEl.innerText;
                // if (username.length < 1) {
                //     window.location.href = "/Identity/Account/Login"
                // }
            }
            try {
                var response = await fetch(`/Favourites/AddItem?studyFileId=${studyFileId}`);
                if (response.status == 200) {
                    var result = await response.json();
                    var favouritesCountEl = document.getElementById("favouritesCount");
                    favouritesCountEl.innerHTML = result;
                    window.location.href = "#favouritesCount";
                }
            }
            catch (err) {
                console.log(err);
            }
        }
    </script>
}